.header {
    border-bottom: 2px solid #828282;
    width: 940px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background: #fff;
}
.nav__list {
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 30px 0;
}
.nav__item {
    display: inline-block;
    margin: 0 ;
    width: 19.55%;
}
.nav__link {
    font-family: 'Gilroy',sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    color: #828282;
    text-decoration: none;
    padding: 0 3px;
    }
.nav__link_active {
    color: #070707;
}
.Home-container {
    width: 940px;
    margin: 0 auto;
}
.Home-container__h1 {
    display: inline-block;
    margin-right: 30%;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 47px;
    line-height: 1.36;
    color: #070707;
}
.Home-container__text{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    display: inline-block;
    margin-right: 30%;
}
.Home-container__img {
    margin-bottom: 100px;
    width: 100%;
}
.Aboutme-container {
    background-color: #F6F6F6;
    padding-top: 25px;
}  
.Aboutme-container__h2 {
    width: 200px;
    height: 42px;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.35;
    text-align: center;
    color: #070707;
    margin: auto;
}
.Aboutme-container__text {
    width: 100%;
    height: 246px;
    margin: auto;
    margin-bottom: 135px;
    border-color: #F6F6F6;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #070707;
}
.Skills-container{
    margin:auto ;
    text-align: center;
    padding-bottom: 70px;
}
.Skills-container__h3 {
    width: 124px;
    height: 25px;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.35;
    text-align: center;
    color: #070707;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:auto ;
    margin-bottom: 69px;
}
.Skills-container__text {
    width: 227px;
    height: 23px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #070707;
    margin:auto ;
    margin-bottom: 83px;
}
.icon-container {
    display: inline-block;
    margin: 0 auto;
    width: calc(25% - 3px);
   text-align: center;
}
.Portfolio-container{
    background-color: #F6F6F6;
    padding-top: 4.9em;
    padding-bottom: 5em;
}
.Portfolio-container__h4 {
    width: 133px;
    height: 42px;
    font-family:'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.35;
    text-align: center;
    color: #070707;
    margin:auto ;
    margin-bottom: 45px;
}
.Portfolio-container__woman-foto {
    width: 936px;
    height: 510px;
    margin-bottom: 15px;
    display: block;
    margin: auto;
}
.Portfolio-container__woman-text {
    width: 276px;
    height: 21px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: auto;
    margin-bottom: 99px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
}
.Portfolio-container__Reebok-foto {
    width: 936px;
    height: 522px;
    margin-bottom: 7px;
    display: block;
    margin: auto;
}
.Portfolio-container__Reebok-text{
    width: 202px;
    height: 21px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 99px;
    padding-top: 44px;
}
.Portfolio-container__Braun-foto {
    width: 936px;
    height: 522px;
    margin-bottom: 2px;
    display: block;
    margin: auto;
}
.Portfolio-container__Braun-text{
    width: 259px;
    height: 21px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: auto;
    margin-bottom: 46px;
    margin-left: auto ;
    margin-right: auto;
    display: block;
    padding-top: 45px;
}
.Contacts-container{
    padding-top: 114px;
    padding-bottom: 123px;
}
.Contacts-container__h5 {
    width: 179px;
    height: 42px;
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.35;
    text-align: center;
    color: #070707;
    margin: auto;
    margin-bottom: 21px;
}
.Contacts-container__text {
    width: 275px;
    height: 43px;
    font-family: 'Gilroy',sans-serif;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    color: #070707;
    margin: auto;
    margin-bottom: 78px;
}
.button {
    color: #FFFFFF;
    background-color: #070707;
    border-radius: 21px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 16px;
    cursor: pointer;
    margin-bottom: 37px;
    width: 180px;
    height: 42px;
}
.socials-container {
    margin:auto ;
    text-align: center;
    margin-bottom: 43px;
   }
.socials-container__linkedin {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(../image/Linkedin.png)no-repeat;
    cursor: pointer;
}
.socials-container__linkedin:hover{
    transition: 0.5s;
    background: url(../image/Behance.png) no-repeat;
    width: 40px;
    height: 40px;
}
.socials-container__instagram {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(../image/Instagram.png) no-repeat;
    cursor: pointer;
}
.socials-container__instagram:hover{
    transition: 0.5s;
    background: url(../image/Behance.png) no-repeat;
    width: 40px;
    height: 40px;
}
.socials-container__behance {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(../image/Behance.png) no-repeat;
    cursor: pointer;
}
.socials-container__behance:hover{
    transition: 0.5s;
    background: url(../image/Linkedin.png) no-repeat;
    width: 40px;
    height: 40px;
}
.socials-container__dribble {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(../image/Dribble.png) no-repeat;
    cursor: pointer;
}
.socials-container__dribble:hover{
    transition: 0.5s;
    background: url(../image/Instagram.png) no-repeat;
    width: 40px;
    height: 40px;
}
.socials-container__text {
    width: 243px;
    height: 33px;
    font-family: 'Gilroy',sans-serif;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    color: #828282;
    display: block;
    margin: auto;
    padding-top: 45px;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fons/Gilroy-Bold.eot');
    src: url('../fons/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fons/Gilroy-Bold.woff') format('woff'),
    url('../fons/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
    @font-face {
        font-family: 'Gilroy';
        src: url('../fons/Gilroy-Medium.eot');
        src: url('../fons/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fons/Gilroy-Medium.woff') format('woff'),
        url('../fons/Gilroy-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
        