.container {
    width: 940px;
    margin: 0 auto;
}
.h1 {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 47px;
    line-height: 1,36;
    color: #070707;
}
.header {
    border-bottom: 2px solid #828282;
}
.nav_list {
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 30px 0;
}
.nav_item {
    display: inline-block;
    margin: 0 15px;
}
.nav_link {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,4;
    color: #828282;
    text-decoration: none;
    padding: 0 3px;
    }
.nav_link_active {
    color: #070707;
}
.home_img {
    margin-bottom: 100px;
    width: 100%;
}
.aboutme {
    background-color: #F6F6F6;
}  
.h2 {
    width: 200px;
    height: 42px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 34px;
    line-height: 1,35;
    text-align: center;
    color: #070707;
    margin: auto;
}
.div {
    width: 100%;
    height: 246px;
    margin: auto;
    margin-bottom: 135px;
    border-color: #F6F6F6;

}
.text {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,4;
    text-align: center;
    color: #070707;
}
.h3 {
    width: 124px;
    height: 25px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 34px;
    line-height: 1,35;
    text-align: center;
    color: #070707;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:auto ;
    margin-bottom: 69px;
}
.skills_text {
    width: 227px;
    height: 23px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,39;
    text-align: center;
    color: #070707;
    margin:auto ;
    margin-bottom: 83px;
}
.skills_container {
    margin:auto ;
    text-align: center;
    margin: 200px;
}
.icon_container {
    display: inline-block;
    margin: 0 auto;
    width: cals(25%-3px);
   text-align: center;
}
.h4 {
    width: 171px;
    height: 42px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 34px;
    line-height: 1,35;
    text-align: center;
    color: #070707;
    margin:auto ;
    margin-bottom: 70px;
}
.woman_foto {
    width: 936px;
    height: 510px;
    margin-bottom: 15px;
    display: block;
    margin: auto;
}
.woman_text {
    width: 276px;
    height: 21px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,38;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: auto;
    margin-bottom: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reebok_foto {
    width: 936px;
    height: 522px;
    margin-bottom: 7px;
    display: block;
    margin: auto;
}
.Reebok_text {
    width: 202px;
    height: 21px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,38;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 136px;
}
.Braun_foto {
    width: 936px;
    height: 522px;
    margin-bottom: 2px;
    display: block;
    margin: auto;
}
.Braun_text {
    width: 259px;
    height: 21px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,38;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: auto;
    margin-bottom: 206px;
    margin-left: auto ;
    margin-right: auto;
    display: block;
}
.h5 {
    width: 179px;
    height: 42px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 34px;
    line-height: 1,35;
    text-align: center;
    color: #070707;
    margin: auto;
    margin-bottom: 21px;
}
.h5_text {
    width: 275px;
    height: 43px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1,38;
    text-align: center;
    color: #070707;
    margin: auto;
    margin-bottom: 78px;
}
.icons {
    width: 349px;
    height: 40px;
    margin: auto;
    }
button {
    color: #FFFFFF;
    background-color: #070707;
    border-radius: 21px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 16px;
    cursor: pointer;
    margin-bottom: 37px;
    width: 180px;
    height: 42px;
}
.socials {
    margin:auto ;
    text-align: center;
    margin-bottom: 43px;
}
.linkedin {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(/image/Linkedin.png);
}
.instagram {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(/image/Instagram.png);
}
.behance {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(/image/Behance.png);
}
.dribble {
    display: inline-block ;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background: url(/image/Dribble.png);
}
.footer_text {
    width: 243px;
    height: 33px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1,36;
    text-align: center;
    color: #828282;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}